#audio_player {
  display: none;
}
body{
  background-image: url("../images/WMpic/30027855-teenager-lifestyle-young-dancing-people.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size:cover;
}