#audio_player {
  display: none;
}
#danceWindow{
  background-image: url("../images/WMpic/30027855.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
