.loading {
  background-color: #2f4858;
  padding: 100px 0px;
}

.message {
  font-weight: 900;
  font-size: 3.5em;
  color: white;
}

.message .letter {
  display: inline-block;
  line-height: 1em;
}
