#songinput {
  background-image: url("../images/WMpic/30027855.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 30px;
  height: 100vh;
  justify-content: center;
  display: flex;
}
