#timer {
  color: #f9f871;
  text-shadow: #46557e 2px 2px 0, #46557e -2px -2px 0, #46557e -2px 2px 0,
    #46557e 2px -2px 0, #46557e 0px 2px 0, #46557e 0 -2px 0, #46557e -2px 0 0,
    #46557e 2px 0 0;
  font-size: 40px;
  position: absolute;
  bottom: 10%;
}
