#video {
  display: none;
}

#canvas {
  margin-top: 0px;
  position: inherit;
  border-style: ridge;
  border-width: 10px;
  border-color: #2f4858;
}

.combo {
  border-color: #fe61ee !important;
}

.message {
  font-size: 2em;
  font-weight: bold;
  color: #46557e;
}

.matchposition {
  color: #fe61ee;
  text-shadow: #46557e 3px 3px 0, #46557e -3px -3px 0, #46557e -3px 3px 0,
    #46557e 3px -3px 0, #46557e 0px 3px 0, #46557e 0 -3px 0, #46557e -3px 0 0,
    #46557e 3px 0 0;
}

#grid {
  margin-top: 20px;
  flex-grow: 1;
}

#score_common {
  color: #f9f871;
  text-shadow: #46557e 2px 2px 0, #46557e -2px -2px 0, #46557e -2px 2px 0,
    #46557e 2px -2px 0, #46557e 0px 2px 0, #46557e 0 -2px 0, #46557e -2px 0 0,
    #46557e 2px 0 0;
  padding: 0px 5px;
}

.current_score {
  font-size: 3em;
  font-weight: bold;
}

.score_num {
  font-size: 3em;
  font-weight: bold;
}

.score_max {
  font-size: 0.4em;
}

.emoji_list {
  list-style: none;
  padding-left: 0px;
  font-size: 2em;
}

.emoji_list li {
  margin-top: 10px;
}

.unmatched {
  color: #46557e;
  text-shadow: #f9f871 7px 7px 6px, #f9f871 -7px -7px 6px, #f9f871 -7px 7px 6px,
    #f9f871 7px -7px 6px, #f9f871 0px 7px 6px, #f9f871 0 -7px 6px,
    #f9f871 -7px 0 6px, #f9f871 7px 0 6px;
}

.matched {
  color: #fe61ee;
  text-shadow: #46557e 2px 2px 0, #46557e -2px -2px 0, #46557e -2px 2px 0,
    #46557e 2px -2px 0, #46557e 0px 2px 0, #46557e 0 -2px 0, #46557e -2px 0 0,
    #46557e 2px 0 0;
  font-size: 1.4em;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.combo-game {
  font-weight: 900;
  font-size: 4.5em;
  color: #fe61ee;
  width: 3em;
  height: 3em;
}

.combo-game .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.combo-game .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.combo-game .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.combo-game .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
}

.combo-game .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  opacity: 0.5;
  border-radius: 3em;
  z-index: 1;
}

.combo-game .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 2.3em;
  height: 2.3em;
}
